#headerdiv{
	background-color:#DA1C5C;
	width:100%;
	height:20px;
	padding-left:5%;
	padding-top:5px;
	padding-bottom:5px;
	margin:0;
}

.top_hrefs{
   
	width:15px;
	height:15px;
	margin-left:5px;
    
	
}