<footer>
  
          <div class="footer_container">
              
              <div ><img id="footer_logo" src="/assets/footer_logo.png"></div>
              <div><p >But nothing the copy said could convince her and so it didn’t take long until a few insidious.</p></div>
              
          </div>
          
              
              <div class="footer_container"> 
           
              <div><h1 >LATEST POST</h1></div>
                  <br>
                  <div><p   >Dissuade Ecstatic</p> </div>
                  <hr>
                  <div><p  >Properly Saw</p> </div>
                  <hr>
                  
                  <div><p  >Laughter Endeavor</p> </div>
                  <hr>
                  
                  <div><p >Vanity Excuse</p> </div>
                  <hr>
                  
                  <div><p  >Sufficient Understood</p> </div>
                 
                  </div>
              
              
               <div class="footer_container">
                   
                   <div><h1  >BUSINESS HOURS</h1></div>
                   <br>
                   <div><p >Our support Hotline is available 24
                  Monday-Friday: 9am to 5pm
                  Saturday: 10am to 2pm
                  Sunday: Closed</p></div>
                                   </div>

                   
                   <div class="footer_container">
                   
                   <div><h1  >PORTFOLIO</h1></div>
                       <br>

                           
                          <div class="img3">
                          
                              <a href="#"> <img src="/assets/0001.jpg" ></a>
                              <a href="#"> <img src="/assets/0002.jpg"></a>
                              <a href="#"> <img src="/assets/0003.jpg"></a>
                              </div>
                           <div class="img4">
                               <a href="#"> <img src="/assets/0004.jpg"></a>
                               <a href="#"><img src="/assets/0005.jpg"></a>
                               <a href="#"> <img src="/assets/0006.jpg"></a>
                               <a href="#"> <img src="/assets/0007.jpg"></a>
                          </div>
                          <div class="img3">
                              <a href="#"> <img src="/assets/0008.jpg"></a>
                              <a href="#"> <img src="/assets/0009.jpg"></a>
                              <a href="#"> <img src="/assets/0010.jpg"></a>
                           
                          </div>
                       
                          
                       </div>
                   
                  
                   
              
        
  
  </footer>
      