<div id="secondheader">
  
   <div class="artim_logo">
     <a src="# "><img src="/assets/artim-logo.png" id="artim_logo"></a>
   </div>
   <div class="menu-container">
   <a href="#" class="menu_hrefs" src="">Contact</a>
   </div>
   <div class="menu-container">
   <a href="#" class="menu_hrefs" src="">Sliders</a>
   </div>
   <div class="menu-container">
   <a href="#" class="menu_hrefs" src="">Features</a>
   </div>
   
   <div class="menu-container">
   <a href="#" class="menu_hrefs" src="">Blog</a>
   </div>
           
   <div class="menu-container">
   <a href="#" class="menu_hrefs" src="">Shop</a>
     </div>
   
         
   <div class="menu-container">
   <a href="#" class="menu_hrefs" src="">Elements</a>
   </div>
   <div class="menu-container">
   <a href="#" class="menu_hrefs" src="">Portfolio</a>
   </div>
   <div class="menu-container">
   <a href="#" class="menu_hrefs" src="">Servises</a>
   </div>
   <div class="menu-container">
   <a href="#" class="menu_hrefs" src="">About us</a>
   </div>
   <div class="menu-container">
   <a href="#" class="menu_hrefs" src="">Headers</a>
   </div>
   <div class="menu-container">
   <a href="#" class="menu_hrefs" src="">Home</a>
   </div>
         
     </div>