#photo_div02{
	width:100%;
	height:1200px;
	background-image:url(/assets/home-cor22.jpg);
	padding-left: 16%;
   
    
    
	

}
#phototop_div02{
  

    margin-top: 50px;
    margin-left:30%;
    height: 100px;
    width: 100px;
   

}
#texttop_div02{
    font-size: 18pt;
    margin-left: 400px;
    color: white;

    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
}




.block5 {
    width: 915px;
    
    img{
        width: 229px;
        height: 216px;
        margin-right: -4px;
        margin-top: -4px;
        float:left;
    }
}


