<div id="photo_div02">
  <div><img id="phototop_div02"src="/assets/4_a.fw_-1.png"> </div>

<div ><p  id="texttop_div02">We lorem and ipsum your aliquam</p></div>

<div class="block5" *ngFor="let block of block5">
<a href="#" > <img   src={{block.phsrc}}> </a>

  </div>

<!-- 
<div class = "container-img">
<a href="#"><img  src="/assets/001.jpg" /> </a>
<a href="#"> <img  src="/assets/002.jpg" /></a>
<a href="#"> <img  src="/assets/003.jpg" /></a>
<a href="#"> <img  src="/assets/004.jpg" /></a>
<a href="#"><img  src="/assets/005.jpg" /></a>
<a href="#">  <img  src="/assets/006.jpg" /></a>
<a href="#">  <img  src="/assets/007.jpg" /></a>
<a href="#"> <img  src="/assets/008.jpg" /></a>
<a href="#"> <img src="/assets/009.jpg"/></a>
<a href="#"> <img src="/assets/010.jpg"/></a>
<a href="#">  <img src="/assets/011.jpg"/></a>
<a href="#">  <img src="/assets/012.jpg"/></a>
</div> -->

</div>
