<div class="counter">
  <div><img id="counter_png" src="/assets/counter.png"> </div>
      <div><p id="counter_text" >Counter Lorem</p></div>
  

      
        <div class="block8" *ngFor="let block of block8">
                <h1>{{block.number}}</h1><p>{{block.text}} </p>
        </div>
           
<!-- 
      <div class="level3">
      
      <div class="numbertext"><p id="text_number" >26,412</p></div>
      <div class="numbertext"><p id="text_text">PAGE VIEWS</p></div>
      </div>
      
              <div class="level3">
      
      <div class="numbertext"><p id="text_number" >15,362</p></div>
      <div class="numbertext"><p id="text_text">COFFEE CONSUMED</p></div>
      </div>
      
              <div class="level3">
      
      <div class="numbertext"><p id="text_number" >21,568</p></div>
      <div class="numbertext"><p id="text_text">PROJECT FINISHED</p></div>
      </div>
  
                      <div class="level3">
      
      <div class="numbertext"><p id="text_number" >26,854</p></div>
      <div class="numbertext"><p id="text_text">PIZZA'S EATEN</p></div>
      </div>
  </div> -->
