<div id="medal">
  <div><img id="medal_img" src="/assets/666.png"> </div>
  <div><p id="medal_text">We lorem and ipsum your aliquam</p></div>
  
<div id="david">     
  
<div class="hrefs4">
<div><a href="http://facebook.com" target="_blank" ><img class="hrefs401" src="/assets/facebook-logo.png"   ></a></div>
<div><a href="http://twitter.com" target="_blank" ><img class="hrefs401" src="/assets/TwitterLogo_white.png"></a></div>

<div><a href="http://instagram.com" target="_blank" ><img class="hrefs401" src="/assets/Instagram-white.png"></a>	</div>
<div><a href="http://google.com" target="_blank" ><img class="hrefs401" src="/assets/google-logo.png"></a></div>
</div>
      
     <div><img id="david_img" src="/assets/David.jpg"></div>
     

     <div><p id="david_text1" >David Miller</p></div>
     <div><p id="david_text2">CEO</p></div>
     <div><p id="david_text3">Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p></div>
     

     </div>
 
 
        

             
                     <div id="milla">     
  
<div class="hrefs4">
<div><a href="http://facebook.com" target="_blank" ><img class="hrefs401" src="/assets/facebook-logo.png"   ></a></div>
<div><a href="http://twitter.com" target="_blank" ><img class="hrefs401" src="/assets/TwitterLogo_white.png"></a></div>

<div><a href="http://instagram.com" target="_blank" ><img class="hrefs401" src="/assets/Instagram-white.png"></a>	</div>
<div><a href="http://google.com" target="_blank" ><img class="hrefs401" src="/assets/google-logo.png"></a></div>
</div>
      
     <div><img id="david_img" src="/assets/Milla.jpg"></div>
     

     <div><p id="david_text1" >Milla Smith</p></div>
     <div><p id="david_text2">Designer</p></div>
     <div><p id="david_text3">Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p></div>
     

     </div>
     
                                 <div id="miller">     
  
<div class="hrefs4">
<div><a href="http://facebook.com" target="_blank" ><img class="hrefs401" src="/assets/facebook-logo.png"   ></a></div>
<div><a href="http://twitter.com" target="_blank" ><img class="hrefs401" src="/assets/TwitterLogo_white.png"></a></div>

<div><a href="http://instagram.com" target="_blank" ><img class="hrefs401" src="/assets/Instagram-white.png"></a>	</div>
<div><a href="http://google.com" target="_blank" ><img class="hrefs401" src="/assets/google-logo.png"></a></div>
</div>
      
     <div><img id="david_img" src="/assets/miller.jpg"></div>
     

     <div><p id="david_text1" >David Miller</p></div>
     <div><p id="david_text2">Designer</p></div>
     <div><p id="david_text3">Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p></div>
     

     </div>
     
 </div>
 