.counter{
    background-color: white;
    height:500px;
    

}

#counter_png{
    height: 100px;
    width:100px;
    margin-left: 46%;
    margin-top:50px; 
}
#counter_text{
    text-align: center;
    color: #905fa1;
   font-weight:bold;
    font-size: 1.4em;
    
}

.level3{
    float:left;
    
}

.numbertext{
    margin-left:100px;
    text-align: center;
}


#text_number{
    font-size: 4em;
    color:#424242;
    margin-bottom: 5px;
    
}
#text_text{
    margin-top: 5px;
    font-size: 0.9em;
    color: #905fa1;
    
}