<div id="our_skills">
  <div><img id="skills_img" src="/assets/skills.png"></div>
      <div><p id="skills_text">Our Skills</p></div>
      
        <div class="skills_fon1"><p id="skills_diagram3" >Web</p>
          </div>
       
      
      <div class="skills_fon"><p id="skills_diagram" >Development</p>
          </div>
      
      <div class="skills_fon"><p id="skills_diagram1" >Design</p>
          </div>
        
      
        <div class="skills_fon1"><p id="skills_diagram5" >Adwords</p>
          </div>
      
      
      <div class="skills_fon"><p id="skills_diagram2" >Marketing</p>
          </div>
    
    
  </div>
  