<div id="headerdiv">
  <a href="http://facebook.com" target="_blank" ><img class="top_hrefs" src="/assets/facebook-logo.png"><img/></a>
<a href="http://twitter.com" target="_blank" ><img class="top_hrefs" src="/assets/TwitterLogo_white.png"><img/></a>
<a href="http://google.com" target="_blank" ><img class="top_hrefs" src="/assets/google-logo.png"><img/></a>
<a href="http://instagram.com" target="_blank" ><img class="top_hrefs" src="/assets/Instagram-white.png"><img/></a>	
   <a href="https://www.linkedin.com" target="_blank" ><img class="top_hrefs" src="/assets/linkedin-logo.png"><img/></a>	
   <a href="https://ru.pinterest.com" target="_blank" ><img class="top_hrefs" src="/assets/pinterest-logo.png"><img/></a>	
   <a href="https://www.youtube.com/?hl=uk&gl=UA" target="_blank" ><img class="top_hrefs" src="/assets/youtube-logo.png"><img/></a>	
   <a href="#" target="_blank" ><img align="right" class="top_hrefs" src="/assets/search.png"  ><img/></a>
   
</div>