    
    <div id="about-us">
      >
     <div id="backgroung"></div>
    <div ><img id="about-us-image" src="/assets/abou2t.fw_.png"></div>
     <div ><p id="about-us-text">About Us</p></div>
     
     <div ><p id="about-us-description1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p></div>
     <div ><p id="about-us-description2">It is a long established fact that a reader will be distracted by the<br> readable content of a page when looking at its layout. The point of <br>using Lorem Ipsum is that it has a more-or-less normal distribution of <br>letters.</p>
 </div>
     <div class="all-about-us" id="about-us-button"><a href="#" id="about-us-button-text">Contact Us!</a></div>
     
     
 </div>
     