
  <p class="thankyou">
    Thank you for registration!
  </p>
  <br>
 
<div class="info">
  <p >Title: {{company.title}}</p>
  <p>Description: {{company.description}}</p>
  <p >Logo: {{company.logo}}</p>
  <p >Banner: {{company.banner}}</p>
  <p>Website: {{company.website}}</p>
  <p >Created at: {{company.createdat}}</p>
 <p >Country: {{company.country}}</p>
 <p >Count of employees: {{company.step}}</p>
 <p>CEO of the company: {{company.ceo}}</p>
 <p >City: {{company.city}}</p>
 <p>Address: {{company.address}}</p>
<p>Card number: {{company.cardnumber}}</p>
 <p >Card Month: {{company.month}}</p>
<p>Card Year: {{company.year}}</p>
  <p>Card CVC: {{company.cvc}}</p>
  <button routerLink="/"> Return to main page </button>
  </div>
 
  